/* STYLE CONFIG */
:root{
    /* COLORS */
    --color-first: #004E72;
    --color-first-hover: #013f5c;
    --color-second: #F1F1F1;
    --color-text: #FFFFFF;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
    border:none;
    list-style:none;
    scroll-behavior: smooth;
}

body, html {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;

    overflow-x: hidden;
}


/* SCROOL */
body::-webkit-scrollbar {
    width:10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-first);
    border-radius: 20px;
    border: 3px solid var(--color-second);
}


main{
    border: 1px solid var(--color-first);
    margin: 10px;
}

/* BOARD */
.container-board{
    padding: 10px;
}

.container-board img{
    width: 100%;
    height: 100%;
}


/* 1 GRID, TERÁ n COLUNAS IGUAIS, OCUPANDO UMA FRAÇÃO IGUAL DO ESPAÇO DISPONÍVEL */
.board{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    min-width: 100%;
}

/* PARTICIPANT */
.participants{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 600px;
    max-height: 100%;
    gap: 5px;
}


.participant{
    width: 64px;
    height: 64px;
    cursor: pointer;
    border: 1px solid var(--color-first);
}

.participant img{
    width: 100%;
    height: 100%;
    padding: 8px;
}


/* CONTROL BOARD (SCROLL ARROW) */
.control-board{
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

button {
    position: fixed;
    padding: 2px 10px;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    color: #fff;
    background-color: var(--color-first);
    cursor: pointer;
    text-align: center;
}


#scrollDown {
    bottom: 20px;
}

@media only screen and (max-width: 480px) {
/* PARTICIPANT */
.participants{
    grid-template-columns: repeat(3, 1fr);
}
}






